/* Style pour le conteneur principal */
.add-player-container {
    max-width: 1200px; /* Largeur maximale */
    margin: 20px auto; /* Centré horizontalement */
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

/* Style pour les titres */
.add-player-container h2 {
    text-align: center;
    margin-bottom: 30px;
}

/* Style pour les champs de saisie */
.add-player-container input[type="text"],
.add-player-container input[type="email"],
.add-player-container input[type="date"],
.add-player-container input[type="tel"],
.add-player-container input[type="file"] {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box; /* Inclure le padding et le border dans la largeur */
    font-size: 16px; /* Taille de la police */
}

/* Style pour le bouton d'ajout de joueur */
.add-player-container button[type="submit"] {
    width: 100%;
    padding: 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 18px; /* Taille de la police */
}

.add-player-container button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Style pour les messages d'erreur */
.add-player-container .error-message {
    color: #dc3545;
    margin-top: 10px;
}

/* Media queries pour les écrans de petite taille */
@media screen and (max-width: 768px) {
    .add-player-container {
        max-width: 100%; /* Ajustement de la largeur */
        margin: 0 auto; /* Centré horizontalement */
        padding: 20px; /* Ajustement de la marge intérieure */
    }

    .add-player-container input[type="text"],
    .add-player-container input[type="email"],
    .add-player-container input[type="date"],
    .add-player-container input[type="tel"],
    .add-player-container input[type="file"] {
        font-size: 14px; /* Taille de police réduite */
    }

    .add-player-container button[type="submit"] {
        font-size: 16px; /* Taille de police réduite */
    }
}
